@font-face {
	font-family: 'Montecarlo';
	src: url('Fonts/montecarlo.ttf');
}

@font-face {
  font-family: 'Consola';
  src: url('Fonts/consola.ttf');
}

html 
{
	font-family: 'Consola';
}

body 
{ 
  background: rgba(71,78,93,1)url('Images/Background.jpg') no-repeat bottom fixed;
  background-size: cover; 
  color: #000;
  font-family: 'Consola';
}

div.container-fluid
{
	margin-top: 50px;
	padding: 40px;
}

footer
{
   position: fixed;
   left:0px;
   bottom:0px;
   height:75px;
   width:100%;
   text-align: left;
}

div.flame
{
	position: absolute;
    top: 70%;
    left: 50%;
    margin-top: -150px;
  	margin-left: -100px;
}

#clock {
	text-align: left;
	font-size: 56;
	margin: 0;
	padding-top: 144;
}

.bg-1 
{
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 
{
    background-color: rgba(71,78,93,0.0); /* Transluscent Dark Blue */
    color: #ffffff;
}
.bg-3 
{
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 
{
    background-color: #003300; /* Dark Green */
    color: #555555;
}